<div class="login-container">
  <div class="login-black_bg"></div>
  <div class="login-white_bg">
    <div class="logo_wrapper">
      <span class="logo_container">S</span>
      <span class="logo_text">Express Lands</span>
      <h6 class="login_header">Login to your account</h6>
      <p class="login_text">Welcome back! Please login to your account</p>
      <form action="">
        <div class="input-container">
          <input type="text" placeholder="Enter Username" class="form-input">
        </div>
        <div class="input-container _mt">
          <input type="password" placeholder="Enter Password" class="form-input">
        </div>
        <div class="btn-container">
          <button class="login-btn" (click)="login()">Log in</button>
        </div>
      </form>
    </div>
  </div>
</div>
