.login-container {
  display: flex;
  height: 1024px;
}
.login-black_bg {
  background: #000000;
  width: 953px;
}
.login-white_bg {
  background: #fff;
  width: 487px;
  margin-left: 83px;
  margin-top: 253px;
}
.logo_wrapper {
  /*display: flex;*/
  /*align-items: center;*/
  /*flex-direction: column;*/
}
.logo_container {
  background: linear-gradient(180deg, #13244E 0%, #75C5F0 100%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  margin-right: 8px;
  padding: 8px;
 }

.logo_text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #5A99C4;
}
.login_header {
  width: 186px;
  height: 82px;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  margin-top: 58px;
}
.login_text {
  margin-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 30px;
}
.form-input {
  width: 320px;
  height: 40px;
  left: 1036px;
  top: 485px;
  background: #FFFFFF;
  box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 9px 16px;
}
._mt {
  margin-top: 24px;
}
.form-input::placeholder {
  color: #D0C9D6;
}
.btn-container {
  margin-top: 24px;
}

.login-btn {
  width: 320px;
  height: 40px;
  background: #13244E;
  border-radius: 6px;
  text-transform: uppercase;
  outline: none;
  border: none;
  color: #fff;
}
